@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuente opcional para mejorar estilo */
body {
  font-family: 'Inter', sans-serif;
  background-color: #2C2C2C; /* Fondo gris oscuro */
  color: #FFFFFF;
}
